@using Microsoft.AspNetCore.Mvc.Rendering
@model Blog.ViewModel.ArticleViewModel


<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.7/summernote.js"></script>
}
<div class="container">
    <h2>Редактирование</h2>
    <div class="form-group">
        <label for="Title">Title</label>
        <input class="form-control" id="title" placeholder="Title" name="Title" value="@Model.Title">
    </div>
    <div class="form-group">
        @Html.Partial("UploadImage")
    </div>
    <div>
        <div id="shortDesc">
            @Html.Raw(@Model.ShortDescription)
        </div>
    </div>
    <div>
        <div id="summernote">
            @Html.Raw(@Model.Body)
        </div>
    </div>
    <div class="form-group">
        @await Component.InvokeAsync("TagAutocomplete", @Model.Tags)
    </div>
    <div class="form-group">
        @await Component.InvokeAsync("CategoryAutocomplete", @Model.Categories)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsPublished, new { id = "IsPublished" })
            Опубликовано
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(x => x.IsTopPlacement, new { id = "IsTopPlacement" })
            Прикрепить новость
        </label>
    </div>


    <button type="submit" id="save" class="btn btn-default">Сохранить</button>
</div>
<script>
    $(document).ready(function () {
        $('#summernote').summernote();
        $('#shortDesc').summernote();
        $('#save').on('click', function () {
            var data = {};
            data.Title = $('#title').val();
            data.Body = $("#summernote + .note-editor .panel-body").html();
            data.IsPublished = $("#IsPublished").is(':checked');
            data.IsTopPlacement = $("#IsTopPlacement").is(':checked');
            data.Tags = $("#Tags").val();
            data.Categories = $("#Categories").val();
            data.Id = @Model.Id;
            data.Author = '@Model.Author';
            data.ShortDescription = $("#shortDesc + .note-editor .panel-body").html();

            $.ajax({
                type: "POST",
                url: '/Management/UpdateArticle',
                data: data,
                success: function (result) {
                    alert("succes");
                },
                error: function (xhr, status, p3, p4) {

                }
            });
        });
    });
</script>













