@using Blog.ViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Panorama{
    <div class="panorama">
        <img src="~/images/Panorama_2.jpg">
        <img src="~/images/Panorama_2.jpg">
    </div>
}


<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            
            @foreach (var article in Model.Articles)
            {
                <div>
                    <!-- Title -->
                    <h1 class="mt-4">@article.Title</h1>

                    <!-- Author -->
                    <p class="lead">
                        by
                        <a href="#">@article.Author</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <div class="row">
                        <div style="padding-left: 15px">
                            @if (!string.IsNullOrEmpty(article.Tags))
                            {
                                <span class="glyphicon glyphicon-bookmark"></span>
                                foreach (var tag in article.Tags.Split(','))
                                {
                                    <a href="#">@tag</a>
                                }
                            }
                        </div>
                        <div style="padding-left: 15px">
                            @*<span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>*@
                            <span class="glyphicon glyphicon-time"></span>
                            @Html.Partial("DateTimeFormat", article.Date)

                        </div>
                    </div>

                    <hr>

                    <!-- Post Content -->
                    <div>
                        @Html.Partial("ShortDescription", article.Body)
                    </div>
                    <p class="text-right">
                        <a asp-action="Article" asp-controller="Management" asp-route-id="@article.Id">Читать</a>
                    </p>
                    <hr>
                </div>
            }
            @await Component.InvokeAsync("Paginator", Model.PageViewModel)
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            @*<div class="card my-4">
                        <h5 class="card-header">Search</h5>
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>*@

            <!-- Categories Widget -->
            @await Component.InvokeAsync("AllCategories")

            <!-- Tag Widget -->
            @await Component.InvokeAsync("AllTags")

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
