@using Blog.ViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@model HomeViewModel
@{
    ViewData["Title"] = "MyDevExp";
}
@section Panorama{
    <style>
        .headDecoration {
            position: relative;
        }
        .headDecoration #particles-js {
            height: 200px;
        }
        .headDecoration h3 {
            position: absolute;
            font-size: 23px;
            left: 0;
            right: 0;
            text-align: center;
            top: 40px;
            color: #2395f3;
        }
    </style>
    <script src="~/lib/particles.min.js"></script>
    <div class="headDecoration">
        <h3>технические решения, проверенные на личном опыте</h3>
        <div id="particles-js"></div>
    </div>
    <script>
        particlesJS.load('particles-js', 'lib/particles.json', function() {});
    </script>
}

<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            @foreach (var article in Model.Articles)
            {
                <div>
                    <!-- Title -->
                    <h1 class="mt-4">
                        <a asp-action="Index" asp-controller="Article" asp-route-id="@article.Id">
                            @article.Title
                        </a>
                    </h1>

                    <!-- Author -->
                    <p class="lead" style="float: left;">
                        by
                        <a href="#">@article.Author</a>
                    </p>
                    <div class="row" style="float: right;">
                        @*<div style="padding-left: 15px">
                            @if (!string.IsNullOrEmpty(article.Tags))
                            {
                                <span class="glyphicon glyphicon-bookmark"></span>
                                foreach (var tag in article.Tags.Split(','))
                                {
                                    <a href="#">@tag</a>
                                }
                            }
                        </div>*@
                        <div style="padding-left: 15px">
                            @*<span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>*@
                            <span class="glyphicon glyphicon-time"></span>
                            @Html.Partial("DateTimeFormat", article.Date)

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- Post Content -->
                    <div>
                        @Html.Raw(article.ShortDescription)
                    </div>
                    <p class="text-right">
                        <a asp-action="Index" asp-controller="Article" asp-route-id="@article.Id">Читать</a>
                    </p>
                    <hr>
                </div>
            }
            @await Component.InvokeAsync("Paginator", Model.PageViewModel)
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@

            <!-- Categories Widget -->
            @await Component.InvokeAsync("AllCategories")

            <!-- Tag Widget -->
            @await Component.InvokeAsync("AllTags")

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
